name: Test Action

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup meshStack Authentication
        id: setup-meshstack-auth
        uses: ./
        with:
          steps: |
            [
              { "id": "terraform-validate", "displayName": "terraform validate" },
              { "id": "terraform-plan", "displayName": "terraform plan" },
              { "id": "terraform-apply", "displayName": "terraform apply" }
            ]
          client_id: ${{ secrets.CLIENT_ID }}
          key_secret: ${{ secrets.KEY_SECRET }}
